In [1]:
#import libraries
import pandas as pd 
import  numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt 

%matplotlib inline

In [2]:
#load the dataset
df = pd.read_csv('./dataset/Cardiovascular_Disease_Dataset.csv')
df.head()

,patientid,age,gender,chestpain,restingBP,serumcholestrol,fastingbloodsugar,restingrelectro,maxheartrate,exerciseangia,oldpeak,slope,noofmajorvessels,target
0,103368,53,1,2,171,0,0,1,147,0,5.3,3,3,1
1,119250,40,1,0,94,229,0,1,115,0,3.7,1,1,0
2,119372,49,1,2,133,142,0,0,202,1,5.0,1,0,0
3,132514,43,1,0,138,295,1,1,153,0,3.2,2,2,1
4,146211,31,1,1,199,0,0,2,136,0,5.3,3,2,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   patientid          1000 non-null   int64
 1   age                1000 non-null   int64
 2   gender             1000 non-null   int64
 3   chestpain          1000 non-null   int64
 4   restingBP          1000 non-null   int64
 5   serumcholestrol    1000 non-null   int64
 6   fastingbloodsugar  1000 non-null   int64
 7   restingrelectro    1000 non-null   int64
 8   maxheartrate       1000 non-null   int64
 9   exerciseangia      1000 non-null   int64
 10  oldpeak            1000 non-null   float64
 11  slope              1000 non-null   int64
 12  noofmajorvessels   1000 non-null   int64
 13  target             1000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 109.5 KB

In [4]:
df.shape

(1000, 14)

# Exploratory Data Analysis
With our dataset loaded, lets familiarise ourselves with its columns and perform some preprocessing if need be.

In [9]:
#check for null values
df.isna().value_counts()

patientid  age    gender  chestpain  restingBP  serumcholestrol  fastingbloodsugar  restingrelectro  maxheartrate  exerciseangia  oldpeak  slope  noofmajorvessels  target
False      False  False   False      False      False            False              False            False         False          False    False  False             False     1000
dtype: int64

It seems that ther are no null values in any of the columns.

In [10]:
df.shape

(1000, 14)

In [11]:
df.columns

Index(['patientid', 'age', 'gender', 'chestpain', 'restingBP',
       'serumcholestrol', 'fastingbloodsugar', 'restingrelectro',
       'maxheartrate', 'exerciseangia', 'oldpeak', 'slope', 'noofmajorvessels',
       'target'],
      dtype='object')

The dataset contains `1000` entries and `14` columns.